*.iml
*.log
.idea
target
*sublime-project
*sublime-workspace
sublime_settings.sbt
sublime_settings.sbt.old
xternal-libs/
.ext-lib-src/
.DS_Store
.docker-sync
deploy/**/app
.ensime
.ensime_cache
.metals
project/metals.sbt
.bloop
telepresence-zd-patient
.env
